[Desktop Entry]
Type=Application
Exec=thunderbird %U
Icon=/nix/store/vk74fpbpy5hmcj1gxczgmvf4m49gp9d0-thunderbird-60.3.1/lib/thunderbird/chrome/icons/default/default256.png
Comment=
Terminal=false
Name=Thunderbird
GenericName=Mail Reader
MimeType=x-scheme-handler/mailto;message/rfc822;x-scheme-handler/news;x-scheme-handler/snews;x-scheme-handler/nntp;x-scheme-handler/feed;application/rss+xml;application/x-extension-rss
Categories=Application;Network
X-XFCE-Source=file:///run/current-system/sw/share/applications/thunderbird.desktop
