[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghasshee/Desktop/fac1.png]
row=3
col=1

[/home/ghasshee/Desktop/fac4.png]
row=7
col=1

[/home/ghasshee/Desktop/html]
row=7
col=0

[/home/ghasshee/Desktop/Screenshot_20201004_231936.png]
row=11
col=0

[/home/ghasshee/Desktop/Screenshot_20201004_231805.png]
row=9
col=0

[/home/ghasshee/Desktop/fac3.png]
row=5
col=1

[/home/ghasshee/Desktop/evmdiscompile_online.png]
row=0
col=1

[/home/ghasshee/Desktop/Jujutsu Kaisen v01 (2019) (digital) (aKraa).cbz]
row=6
col=0

[/home/ghasshee/Desktop/evm.png]
row=12
col=0

[/home/ghasshee/Desktop/Dropbox]
row=3
col=0

[/home/ghasshee/Desktop/Screenshot_20201004_234030.png]
row=8
col=0

[/home/ghasshee/Desktop/2021-08-25_19-14.png]
row=2
col=1

[/home/ghasshee/Desktop/fac2.png]
row=4
col=1

[/home/ghasshee/Desktop/notnot(notnotP->P).png]
row=5
col=0

[/home/ghasshee/Desktop/fac3'.png]
row=6
col=1

[/home/ghasshee/Desktop/coqArt]
row=4
col=0

[/home/ghasshee/Desktop/Screenshot_20200927_024719.png]
row=10
col=0

[/home/ghasshee/Desktop/2021-08-25_19-13.png]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ghasshee]
row=2
col=0

