[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghasshee/hoge.mkv]
row=0
col=1

[/home/ghasshee/HoTT]
row=10
col=0

[/home/ghasshee/Doc]
row=11
col=0

[/home/ghasshee/riscv-spec-20191213.pdf]
row=8
col=0

[/home/ghasshee/Screenshot_20230101_203104.png]
row=3
col=1

[/home/ghasshee/Programs]
row=4
col=0

[/home/ghasshee/Sumio Watanabe.pdf]
row=6
col=0

[/home/ghasshee/Digital Design and Computer Architecture RISC-V(2021).pdf]
row=9
col=0

[/home/ghasshee/monads.ml]
row=5
col=0

[/home/ghasshee/People]
row=5
col=1

[/home/ghasshee/riscv-privileged-20211203.pdf]
row=7
col=0

[/home/ghasshee/chatGPTterm.txt]
row=2
col=1

[/home/ghasshee/Downloads]
row=4
col=1

[/home/ghasshee/ghasshee]
row=6
col=1

[/home/ghasshee/mnt]
row=3
col=0

[/home/ghasshee/Screenshot_20221129_232450.png]
row=1
col=1

[/home/ghasshee/masim]
row=9
col=1

[/home/ghasshee/recent.pdf]
row=12
col=0

[/home/ghasshee/Eth]
row=7
col=1

[/home/ghasshee/damo]
row=8
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ghasshee]
row=2
col=0

