[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghasshee/Desktop/Dropbox]
row=3
col=0

[/home/ghasshee/Desktop/EGA-III-1-Etudes-cohomologiques-et-faisceaux-coherents.pdf]
row=0
col=1

[/home/ghasshee/Desktop/EGA-III-2-Etudes-cohomologiques-et-faisceaux-coherents.pdf]
row=2
col=1

[/home/ghasshee/Desktop/mi2]
row=10
col=0

[/home/ghasshee/Desktop/EGA-II-Etudes-globales-elementaires-de-quelques-classes-de-morphismes.pdf]
row=8
col=0

[/home/ghasshee/Desktop/EGA-III-1-Etudes-cohomologiques-et-faisceaux-coherents.djvu]
row=9
col=0

[/home/ghasshee/Desktop/EGA-I-Le-langage-des-schemas.djvu]
row=5
col=0

[/home/ghasshee/Desktop/EGA-II-Etudes-globales-elementaires-de-quelques-classes-de-morphismes.djvu]
row=7
col=0

[/home/ghasshee/Desktop/EGA-I-Le-langage-des-schemas.pdf]
row=6
col=0

[/home/ghasshee/Desktop/Representations-of-algebraic-groups.pdf]
row=4
col=0

[/home/ghasshee/Desktop/EGA-III-2-Etudes-cohomologiques-et-faisceaux-coherents.djvu]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ghasshee]
row=2
col=0

