[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghasshee/Desktop/Dropbox]
row=3
col=1

[/home/ghasshee/Desktop/EGA-III-1-Etudes-cohomologiques-et-faisceaux-coherents.pdf]
row=6
col=0

[/home/ghasshee/Desktop/EGA-III-2-Etudes-cohomologiques-et-faisceaux-coherents.pdf]
row=5
col=0

[/home/ghasshee/Desktop/mi2]
row=1
col=2

[/home/ghasshee/Desktop/EGA-II-Etudes-globales-elementaires-de-quelques-classes-de-morphismes.pdf]
row=0
col=1

[/home/ghasshee/Desktop/EGA-III-1-Etudes-cohomologiques-et-faisceaux-coherents.djvu]
row=5
col=1

[/home/ghasshee/Desktop/EGA-I-Le-langage-des-schemas.djvu]
row=0
col=2

[/home/ghasshee/Desktop/EGA-II-Etudes-globales-elementaires-de-quelques-classes-de-morphismes.djvu]
row=6
col=1

[/home/ghasshee/Desktop/EGA-I-Le-langage-des-schemas.pdf]
row=1
col=1

[/home/ghasshee/Desktop/Representations-of-algebraic-groups.pdf]
row=2
col=1

[/home/ghasshee/Desktop/EGA-III-2-Etudes-cohomologiques-et-faisceaux-coherents.djvu]
row=4
col=1

[b8db6bfc-889d-4ccd-8bc3-13295395893f]
row=1
col=0

[1970-01-01-00-00-01-00]
row=2
col=2

[f1f42e2a-7ecf-4e09-9a78-584406ca53a0]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ghasshee]
row=4
col=0

